@mixin CONFIGURE-e-button-carcass($color, $border, $border-color, $border-radius) {
  .button-carcass {
    display: flex;
    position: relative;
    color: $color;
    text-decoration: none;
    text-transform: uppercase;
    border: $border solid $border-color;
    border-radius: $border-radius;
    background: transparent;
    text-align: center;
    cursor: pointer;
    @content;
  }
}

@mixin CONFIGURE-e-button-regular($color, $bg-color, $border-radius) {
  .button-regular {
    display: flex;
    position: relative;
    color: $color;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: $border-radius;
    background: $bg-color;
    text-align: center;
    cursor: pointer;
    @content;
  }
}

@mixin CONFIGURE-e-button-bordered($color, $bg-color, $w: 250, $h: 60, $scaler: 0.5) {
  .button-bordered {
    @include min-width($w, $scaler);
    @include min-height($h, $scaler);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    mask-image: radial-gradient(circle, white 100%, black 100%);
    background: transparent;
    border-radius: RelativeUnits($h, $scaler);
    color: $bg-color;

    &:after {
      top: -250%;
      right: -60%;
      content: '';
      background: $bg-color;
      position: absolute;
      display: block;
      border-radius: 50%;
      transition: 0.5s;
      z-index: -1;
      mask-image: radial-gradient(circle, white 100%, black 100%);
      width: 120%;
      height: 300%;
    }

    &::before {
      content: '';
      background: transparent;
      position: absolute;
      display: block;
      z-index: -1;
      mask-image: radial-gradient(circle, white 100%, black 100%);
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: RelativeUnits($h, $scaler);
      border: 2px solid $bg-color;
    }

    &:hover::after {
      background: $bg-color;
      height: 1000%;
      width: 240%;
    }

    &:hover {
      color: $color;
    }

    @content;
  }
}
