//fonts

@mixin font($font-family, $font-weight) {
  font-family: $font-family;
  font-weight: $font-weight;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
   }

@font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Bold.ttf");
   font-weight: 600;
  }

@font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Medium.ttf");
   font-weight: 500;
  }

//text-vars
$font_size-global: 14;
