@font-face {
    font-family: 'Neo Sans Pro', sans-serif;
    src: url("../../fonts/NeoSans/NeoSansPro-Regular.ttf");
   }

@font-face {
   font-family: "Neo Sans Pro";
   src: url("../../fonts/NeoSans/NeoSansPro-Bold.ttf");
   font-weight: 600;
  }

@font-face {
   font-family: "Neo Sans Pro";
   src: url("../../fonts/NeoSans/NeoSansPro-Medium.ttf");
   font-weight: 500;
  }
